.container {
    margin: 0 auto;
    background-color: #fff;
    max-width: 1000px;
    text-align: justify;
    font-size: 16px;

}
.container--darkMotive {
    background-color: black;
    color: white;
}